---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Freddy Tacuri, Desarrollador y Programador Web"
	description="Contrata a Freddy para que forme parte de tu equipo. Desarrollador Web Front-end."
>
	<main>
    Blog
	</main>
</Layout>

<style>
	main {
		height: 100vw;
	}
</style>