<footer class="footer">
    <figure class="figure">
        <p>Freddy</p>
        <img class="logo" src="img/logo_blanco.png" alt="logo" loading="lazy"/>
        <p>Tacuri</p>
    </figure>
    <p>Copyright © 2023 Freddy Tacuri - All Rights Reserved.</p>        
</footer>

<section class="wrapper">
    <div class="star"></div>
</section>

<style>
    .footer{
        padding: 1em;
        text-align: center;
        align-items: center;
        color:var(--crema);
        position: relative;
    }
    .footer .figure{
        align-items: center;
        justify-content: center;
    }
    .footer .logo{
        height: 3.75em;
    }
</style>