---
import Logo from '../components/Logo.astro'
---

<section class="home" id="home">
    <Logo />
    <article>
        <h1 class="h1">FREDDY TACURI</h1>
        <h2 class="h2">FRONT-END DEVELOPER</h2>
        <a class="button" href="#contact"><p>Let's learn together for free</p></a>
    </article>
</section>

<style>
    .home{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.5em;
        padding: 5vw 0 25vw 0;
        opacity: 1;
        transition: 2s;
        /* font-size: 20px; */
    }
    article {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    h1{
        width: 500px;
        font-size: 2.5em;
        margin-bottom: -8px;
    }
    h2{
        font-size: 1.25em;
        font-weight: 400;
    }
    .button {
        width: fit-content;
        color: #FFF7ED;
        text-decoration: none;
        margin: 2em;
        padding: 1px;
        border-radius: 8px;
        background: linear-gradient(90deg, #25E5EB 0%, #C01522 100%);
        box-shadow: 5px 20px 40px 0px rgba(192, 21, 34, 0.50);
        transition: .3s;
    }
    p {
        background-color: #090909;
        border-radius: 8px;
        padding: 0.4em 0.8em;
        transition: .3s;
        font-size: 1.25em;
    }
    .button:hover p {
        background-color: #090909BF;
        transition: .3s;
    }
    .button:hover {
        scale: 1.05;
        transition: .3s;
    }
</style>