<section class="home" id="home">
    <figure class="figure">
        <svg class="logo" >
            <path id="path" stroke="" stroke-width="5" fill="none" d="M74,37c3.19,5.019,43.424,74.713,50,85-5,2.333-13,7.667-18,10C93.335,109.669,79.665,86.331,67,64,50.783,73.664,37.236,81.451,25,89c-4.5-5.889-3.352-4.208-11-17C37.917,58.4,5.709,76.944,74,37Zm229,1c4.245,7.824,43.219,73.924,50,85l-18,9c-13.332-22.331-25.668-45.669-39-68-80.659,46.329-162.341,93.671-243,140,24,42.662,48,85.338,72.5,127.136-5.556,3.055-12.156,6.186-17.5,8.864-20.665-36-40.335-72-61-108-5.342-8.841-13.173-22.413-20-34C117.658,145.672,212.342,90.328,303,38ZM464,77c2.862,4.571,7.73,10.9,11,16-62.995,36.331-128.054,73.708-192.3,111.031,45,77.961,71.09,123,73.3,127.969-4.333,2.333-11.667,6.667-16,9-35.872-64.146-47.911-83.936-83-144C325.327,157.337,395.673,116.663,464,77Zm-87,96h4l81,140-1,3L188,473c-48.266-82.382.612,1.858-49-83l15-9,39,67c80.659-46.995,162.341-94,243-141-23.664-42-48.336-84-72-126Zm-224,0c25.8,47.658,53.87,93.739,81,141C125.515,375.908,25.6,433.264,23,434l-8-14L206,307c-41.014-73.825-68.263-120.63-71-124C147.683,175.369,151.676,173,153,173ZM386,382c12.332,21,25.668,44,38,65,11.464-5.747,29.394-17.407,41-24,1.465,1.873,5.593,11.034,9,16-7.151,4.4-38.695,23.743-57.394,35.113-62.54-108-28.97-52.494-47.606-82.113C378.772,386.26,385.063,382.138,386,382Z"></path>
        </svg>
    </figure>
    <h1 class="h1">FREDDY TACURI</h1>
    <h2 class="h2">FRONT-END DEVELOPER</h2>
</section>

<style>
    .home{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2vw 0 25vw 0;
        opacity: 1;
        transition: 2s;
    }
    .home .logo{
        width:  490px; 
        height: 490px;
        scale: 0.75;
        margin: 3.5vw 0 -2vw 0;
        stroke: #C01522;
    }
    .home .h1{
        /* font-family: var(--titulos); */
        color: #FFF7ED;
        font-size: 3em;
    }
    .home .h2{
        /* font-family: var(--titulos); */
        color: #FFF7ED;
        font-size: 1.5em;
        font-weight: 400;
    }
</style>