<a id="translate" class="nav-link" >
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h7" /><path d="M7 4c0 4.846 0 7 .5 8" /><path d="M10 8.5c0 2.286 -2 4.5 -3.5 4.5s-2.5 -1.135 -2.5 -2c0 -2 1 -3 3 -3s5 .57 5 2.857c0 1.524 -.667 2.571 -2 3.143" /><path d="M12 20l4 -9l4 9" /><path d="M19.1 18h-6.2" /></svg>
</a>

<script>
  const translations = {
    "en": {
      "nav-bar":{
        "about": "About",
        "projects": "Projects",
        "contact": "Contact"
      },
      "home": {
        "subTitle": "FRONT-END DEVELOPER",
        "button": "Contact me!"
      },
      "about": {
        "title": "About",
        "body": "I am a Frontend developer with knowledge in HTML, CSS, and JavaScript. I have self-taught expertise in these languages and am characterized by my curiosity and passion for creating and maintaining projects related to these technologies. My goal is to contribute to and enhance essential skills in this field by collaborating on real projects."
      },
      "projects":{
        "title": "Projects",
        "cardTitle1": "Product Landing Page",
        "cardBody1": "Crafting a captivating landing page for showcasing a standout product and driving conversions.",
        "cardTitle2": "Dark Souls Fan Page",
        "cardBody2": "Designing an immersive landing page for a dynamic video game, enticing players to explore its virtual realm.",
        "cardTitle3": "Random Quote Machine",
        "cardBody3": "Delivering inspiration and wisdom with each click."
      },
      "contact":{
        "title": "Let's work together..."
      },
      "footer":{
        "title": "With help of and inspired by "
      }
    },
    "es": {
      "nav-bar":{
        "about": "Acerca de mi",
        "projects": "Proyectos",
        "contact": "Contacto"
      },
      "home": {
        "subTitle": "DESARROLLADOR  FRONT-END",
        "button": "Contáctame!"
      },
      "about": {
        "title": "Acerca de mi",
        "body": "Soy un desarrollador Frontend con conocimientos en HTML, CSS y JavaScript. Tengo experiencia autodidacta en estos lenguajes y me caracterizo por mi curiosidad y pasión por crear y mantener proyectos relacionados con estas tecnologías. Mi objetivo es contribuir y mejorar habilidades esenciales en este campo mediante la colaboración en proyectos reales."
      },
      "projects": {
        "title": "Proyectos",
        "cardTitle1": "Landing page de Producto",
        "cardBody1": "Creación de una landing page cautivadora para mostrar un producto destacado y aumentar las interacciones.",
        "cardTitle2": "Fan page de Dark Souls",
        "cardBody2": "Diseño de una landing page inmersiva para un videojuego del cual soy mut fan, atrayendo a los jugadores a explorar su mundo virtual.",
        "cardTitle3": "Máquina de Frases Aleatorias",
        "cardBody3": "Entregando inspiración y sabiduría con cada clic."
        },
      "contact":{
        "title": "Trabajemos juntos..."
      },
      "footer":{
        "title": "Con la ayuda de, e inspirado por "
      }
    }
  }

  const userIdiom = navigator.language.split('-')[0];

  const translateButton = document.getElementById("translate")
  const textsToChange = document.querySelectorAll("[data-section]");
  let translateClicked = userIdiom === "en" ? 1 : 0;

  const changeLenguage = async lenguage => {
    // const requestJson = await fetch(`../src/languages/${lenguage}.json`)
    // const texts = await requestJson.json()

    const texts = translations[lenguage];

    for (const textToChange of textsToChange){
      const textToChangeElement = textToChange as HTMLElement;
      const section = textToChangeElement.dataset.section;
      const value = textToChangeElement.dataset.value;

      textToChange.innerHTML = texts[section!][value!]
    }
  }

  translateButton?.addEventListener("click", (e) => {
    if (translateClicked === 1) {
      translateClicked = 0;
      changeLenguage("es")
    } else {
      translateClicked = 1;
      changeLenguage("en")
    }
  })

  window.onload = () => {
    changeLenguage(userIdiom)
  }

</script>
<style>
  .nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFF7ED;
    font-weight: 500;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    border: 1px solid #141414;
    transition: 300ms;
    cursor: pointer;
  }
  .nav-link:hover{
    border: 1px solid #FFF7ED;
    background: rgba(255, 247, 237, 0.10);
    box-shadow: 0px 0px 10px 0px rgba(255, 247, 237, 0.50);
    scale: 1.1;
    transition: 300ms;
  }
</style>